[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
"e1839a8" = {path = ".", extras = ["docker", "test", "lint"], editable = true}
tox = "*"
pytest-mock = "*"
pylint = "*"
pydocstyle = "*"
pycodestyle = "*"
mypy = "*"


[packages]

docker = "*"
click = "*"
